@import "variables";



#contact-form {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  .formbody {
    margin: 0;
    .widget {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 10px 0;
      label {
        width: 20%;
        align-self: center;
      }
      input,textarea {
        width: 70%;
        padding: 7px 12px;
        cursor: pointer;
        font-family: 'Barlow Condensed', sans-serif;
        border: 1px solid #ccc;
        border-radius: 0;
        background: rgba(239, 239, 239, 1);
        outline: none;
        transition: background-color 250ms;
        &:hover {
          background-color: #e9e9e9;
        }
        &:focus {
          background-color: #c1c1c1;
        }
      }
      &.widget-textarea label {
        align-self: start;
      }
    }
  }
}

p.error {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: red;
}
