@import "variables";
@import "footer";
@import "header";
@import "main";
body{
  font-family:"Barlow Condensed", sans-serif;
}

.button {
    a {
      display: inline-block;
      padding: 12px 30px;
      background: $yellow;
      font-size: 22px;
      text-align: center;
      color: #fff;
      font-weight: 700;
      border-radius: 2px;
      border: 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: filter 250ms;
      &:hover {
        filter: brightness(1.2);
      }
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-only{
  display: none;
}
@media screen and (max-width: $mobile) {
  .mobile-only{
    display: block;
  }
  .desktop-only{
    display: none;
  }
}
