@import "variables";

#main .mod_article:not(.banner-image-article) {
  margin: 80px 0;
}


.banner-image-article{
  position: relative;
  height: 75vh;
}
.teaser-text{
  position: absolute;
  width: 100%;
  bottom: 30px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  h2{
    font-size: 45px;
    color: white;
  }
  a {
    padding: 7px 12px;
    text-transform: uppercase;
    color: white;
    border: 2px solid;
    transition: color 250ms;
    &:hover {
      color: $yellow;
    }
  }
}
/** Buttons **/
.teaser-button a {
  position: absolute;
  display: inline-block;
  padding: 8px 8px;
  background: transparent;
  font-size: 20px;
  margin: 8px -5%;
  bottom: 50px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 2px;
  border: 3px solid white;
  transition: color 250ms, border-color 250ms;
  text-align: center;
  width: 10%;
  &:hover {
    color: $yellow;
    border-color: $yellow;
  }
}
.mod_navigation {
  margin-top: 60px;

  .mod_navigation ul {
    margin: 0;
    padding: 0;
  }
}
.header-image{
  img{
    width: 100%;
  }
}

.sidebar {
  position: fixed;
  top: 30%;
  width: 45px;
  z-index: 200;
  transform: translateY(-20%);
  color: white;
  right: 0;
  a {
    float: right;
    color: white;
    width: 130px;
    padding: 25px;
    text-decoration: none;
    background: $yellow;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Barlow Condensed, sans-serif;
    margin: 20px 0;
    display: block;
    text-align: center;
    transition: transform 250ms;
    &:hover {
     transform: translateX(0);


    }
  }
}
.termin, .kursbuchung, .map-marker{
  transform: translateX(125px);
}
.termin:before, .kursbuchung:before, .map-marker:before{
  content: "";
  display: block;
  width: 23px;
  height: 30px;
  float: left;
  margin: 2px 13px -3px -7px;
  background-size: contain;
}
.termin:before{
  background-image: url("../layout/phone-white.svg");
  background-repeat: no-repeat;
}
.kursbuchung:before{
  background-image: url("../layout/kursbuchung.svg");
  background-repeat: no-repeat;
}
.map-marker:before{
  background-image: url("../layout/standort.png");
  background-repeat: no-repeat;
}

.mod_article {
  text-align: center;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}


.caption {
  text-align: center;
  font-size: 21px;
  font-weight: bolder;
  letter-spacing: 1px;
}

#menu-image-article {
  position: relative;
  height: 80vh;
}

#menu-image{
  img {
    width: 100%;

  }
}

.banner1-text {
  position: absolute;
  bottom: 12vw;
  right: 12vw;
  h2 {
    color: white;
  }
  p a {
    padding: 7px 12px;
    color: white;
    border: 2px solid;
    text-transform: uppercase;
    transition: color 250ms;
    &:hover {
      color: $yellow;
    }
  }
}


/*.image-slogan img {
  position: absolute;
  top: 38%;
  right: 15%;
}*/

#container-main {
 margin:  30px 8% 50px 8%;
}

#text {
  text-align: center;
  text-transform: none;
  line-height: 22px;
  font-size: 18px;
}

.text1 a {
  transition: color 250ms;
  &:hover {
    color: $yellow;
  }
}

.email:before {
  content: "";
  display: block;
  background: url("../layout/mail.svg") no-repeat;
  width: 30px;
  height: 23px;
  float: left;
  margin: 0 6px 0 0;
  background-size: 21px;
}
.telefon:before{
  content: "";
  display: block;
  background: url("../layout/phone.svg") no-repeat;
  width: 30px;
  height: 23px;
  float: left;
  margin: 0 6px 0 0;
  background-size: 21px;
}
figure.float_left {
  margin-right: 88px;
  width: 50%;
}

.formular {
  li {
    height: 35px;
    margin: 5px 0;
    a {
      position: relative;
      display: inline-block;
      width: 250px;
      border: 1px solid black;
      padding: 8px 35px;
      text-decoration: none;
      color: black;
      transition: background-color 250ms;
      &:hover {
        background-color: #fff0c3;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 10px;
        top: 6px;
        width: 30px;
        height: 23px;
        background: url("../layout/download.svg") no-repeat;
        background-size: contain;
      }
    }
  }
}

#kursplan{
  margin: 50px auto;
  .ce_text{
    p{
      text-transform: none;
    }
  }
}
/* Formlar Kursplan */
#formular1 {
  li {
    margin: 7px 0;
    a {
      position: relative;
      display: inline-block;
      width: 250px;
      border: 1px solid black;
      padding: 7px 10px;
      color: black;
      transition: background-color 250ms;
      &:hover {
        background-color: #fff0c3;
      }
      &:before {
        content: '';
        position: absolute;
        left: 10px;
        top: 6px;
        width: 30px;
        height: 23px;
        background: url("../layout/download.svg") no-repeat;
        background-size: contain;
      }
    }
  }
}
/** Tabelle **/
.kalendar{
  width: 90%;
  max-width: $max-width;
  margin: 10px auto 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
}

th,td {
  border: 1px solid black;
  padding: 5px 10px;
}

.th {
  background: $yellow;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 12px;
  font-family: "Barlow Condensed", sans-serif;;
  font-size: 25px;
}

#kursangebot {
  margin: 100px auto;
  .courses {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    margin: 70px auto;
    width: 95%;
    max-width: $max-width;
  }
}

.courses .ce_text {
  width: 48%;
  margin: 6px auto;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 10px #999;
  figure {
    float: left;
    width: 48%;
    height: 100%;
    margin-right: 25px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .link a {
    color: black;
  }
}

.courses p, h2, a {
  text-decoration: none;
  color: black;
}

.courses h2, a {
  text-transform: none;
}

.arrow-right a, .arrow-right1 a {
  position: relative;
  padding-left: 40px;
  font-size: 17px;
  &:before {
    position: absolute;
    left: -10px;
    top: -15px;
    content: "";
    background: url("../layout/arrow-right1.svg") no-repeat;
    width: 50px;
    height: 70px;
    transition: left 250ms;
  }
  &:hover:before {
    left: -5px;
  }
}

.image-description2 {
  text-transform: none;
  text-align: left;
  font-size: 20px;
  width: 95%;
  max-width: 1550px;
  margin: 97px 54%;
  min-height: 80vh;
.right-text {
    text-transform: none;
    font-family: "Barlow Condensed", sans-serif;;
    line-height: 32px;
  }
  h2 {
    text-transform: uppercase;
  }
.float_above {
    position: absolute;
    left: 0;
    width: 50vw;
  img {
      width: 100%;
    }
  }
}

#lifting-lady-background {
  background: url("../layout/lift-bg2.png") no-repeat bottom right/cover;
  height: 80vh;
}


.coaches {
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  margin: 89px auto;
  max-width: 1500px;
  .ce_image {
    width: 23%;
    margin-bottom: 17px;
    box-shadow: 0 0 10px #999;
    cursor: pointer;
    img {
      max-height: 259px;
      object-fit: cover;
      margin-bottom: -6px;
    }
    figcaption {
      height: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: background-color 250ms;
      font-weight: normal;
      text-transform: uppercase;
    }
    &:hover figcaption {
      background-color: $yellow;
    }
  }
}

.formbody {
  margin-top: 100px;
  margin-right: -53%;
}

.upload {
  display: none;
}

.submit {
  cursor: pointer;
  background: $yellow;
  color: white;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 2px;
  border: 0;
  font-weight: 700;
  display: inline-block;
  font-size: 15px;
}

.probetraining, #kursbuchung {
  iframe {
    width: 90%;
    max-width: $max-width;
  }
}

.image-left {
  width: 40%;
  float: left;
}

.image-left-termin {
  width: 50%;
  float: left;
  height: 100%;
  figure {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.image-right{
  width: 40%;
  float: right;
}

.half-image .ce_image figure img {
  width: 100%;
}

.half-image-termin {
  height: 70vh;
}

.half-text {
  width: 90%;
  height: 100%;
  max-width: $max-width-big;
  margin: 0 auto;
  .half-text-inner {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    box-sizing: border-box;
    align-content: center;
    text-align: left;
    .ce_text, .ce_downloads {
      width: 100%;
    }
  }
}

.training .half-text .half-text-inner {
  p {
    text-transform: none;
    font-size: 24px;
    line-height: 1.5em;
    font-weight: normal;
    font-family: "Barlow Condensed",sans-serif;
  }
}

.text-right-inner {
  float: right;
}

.text-left-inner {
  float: left;
}

.half-text-termin {
  width: 90%;
  height: 100%;
  max-width: $max-width;
  margin: 0 auto;
  .half-text-inner-termin {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    align-content: center;
    text-align: left;
    .ce_text, .ce_downloads {
      width: 100%;
    }
  }
}

.text-right-inner-termin {
  float: right;
  padding-left: 50px;
}
.text-left-inner {
  float: left;
  padding-right: 50px;
}

.text-description {
  text-transform: none;
  font-size: 17px;
  line-height: 28px;
  font-weight: normal;
  font-family: "Barlow Condensed", sans-serif;
  h2, h3{
    text-transform: uppercase;
    margin-top: 0;
  }
}

.half-text h2 {
  text-transform: uppercase;
  margin-top: 0;
}

#map {
  height: 80vh;
  z-index: 0;
}

.leaflet-popup-pane {
  transform: translateY(-41px);
}

.banner-image-article.small {
  height: 45vh;
}

.coach-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: white;
  padding: 20px 15px;
  box-sizing: border-box;
  box-shadow: 0 0 20px #aaa;
  z-index: 100;
  p {
    text-transform: none;
  }
}

@media screen and (max-width: $mobile) {
  .sidebar {
    display: none;
  }
}
/* Beispiel-Text*/
.lorem{
  text-transform: none;
  text-align: left;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  width: $max-width;
  margin: 25px auto;
}

/* Unsure BOX*/
.ce_sliderStart {
  position: relative;
  background: white;
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
  h2 {
    font-size: 35px;
  }
  .slider-prev {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 70px;
    transform: translateY(-100%);
  }
  .slider-next {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 70px;
    transform: translateY(-100%);
  }
}

.besichtigung .slider-control {
  position: initial;
}

.slider-control {
  height: 60px;
}

.slider-control .slider-menu {
  display: none;
}

.slider-wrapper {
  .image_container {
    img {
      width: 100%;
      height: 550px;
      object-fit: cover;
    }
  }
}

.yellow-underline, .yellow-underline1, .yellow-underline2, .headline {
  font-size: 35px;
}
.yellow-underline, .yellow-underline1, .yellow-underline2, #paragraph p, .yellow-underline h2 {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 5px;
    background: $yellow;
  }
}
#paragraph {
   text-transform: none;
}
.yellow-underline1:after{
  left: 27%;
}
.yellow-underline2:after{
  left:4%
}
/*link*/
p.link a,p > a {
  color: $yellow;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 4px;
    background-color: $yellow;
    bottom: -4px;
    left: 0;
    transition: width 250ms;
  }
  &:hover:after {
    width: 100%;
  }
}
div.mobile-only:nth-child(3) {
  margin: 9px;
}

.text1 p {
  text-transform: none;
}

#privacy {
  .ce_text {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    text-transform: none;
    font-size: 19px;
    strong {
      text-transform: uppercase;
      font-size: 22px;
     }
  }
}

@media screen and (max-width: $mobile) {
  #main .mod_article:not(.banner-image-article) {
    margin-top: 0;
  }

  .sidebar {
    display: none;
  }

  .banner-image-article {
    height: 100%;
    .mobile-only {
      a {
        padding: 7px 12px;
        text-transform: uppercase;
        color: black;
        border: 2px solid;
        transition: color 250ms;
      }
    }
  }

  .header-image  {
    img{
      width: 100%;
      object-position: center 100px;
      height: 60vh;
      object-fit: cover;
      transform: scale(1.3);
    }
  }

  .teaser-text {
    bottom: 10px;
    font-size: 14px;
    width: 100%;
    a {
      font-size: 20px;
    }
  }

  h2,h2.yellow-underline,h2.headline {
    font-size: 26px;
  }

  #menu-image-article {
    background: black;
    height: 100vh;
  }

  #menu-image{
    height: 100%;
    .image_container{
      height: 100%;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: -204px 282px;
      }
    }
  }

  .banner1-text {
    bottom: initial;
    top: 30px;
    left: 50%;
    width: 90%;
    font-size: 15px;
    transform: translateX(-50%);
  }

  .image-left-termin {
    width: 100%;
    float: none;
    height: 40vh;
  }

  .half-text-termin .half-text-inner-termin {
    width: 100%;
  }

  .text-right-inner-termin {
    float: none;
    padding-left: 0;
  }

  .yellow-underline1 {
    font-size: 30px;
    &:after {
      left: 0;
    }
  }

  .half-image .ce_image figure img {
    width: 90%;
  }

  .half-image-termin {
    height: auto;
  }

  .werde-fit .ce_image img {
    max-height: 100px;
  }

  .image-right, .image-left {
    width: 100%;
    float: none;
  }

  .half-text .half-text-inner {
    width: 100%;
  }

  .text-left-inner,.text-right-inner {
    float: none;
  }

  #lifting-lady-background {
    background: none;
    height: auto;
  }

  .coaches .ce_image {
    width: 48%;
    img {
      width: 100%;
    }
  }

  .courses .ce_text {
    width: 100%;
    height: 225px;
  }

  .banner-image-article h1 {
    position: relative;
    color: black;
  }

  .ce_sliderStart {
    .slider-prev, .slider-next {
      width: 50px;
    }
  }

  .slider-wrapper .image_container img {
    height: 280px;
  }

  .coach-popup {
    width: 95%;
  }

  .formular li a {
    width: 100%;
    box-sizing: border-box;
  }

  #map {
    height: 50vh;
  }
}

@media screen and (max-width: 667px) {
  .coaches .ce_image {
    width: 100%;
  }
}
