@import "variables";

#main .mod_article:not(.banner-image-article) {
  margin: 80px 0;
}


.banner-image-article{
  position: relative;
  height: 75vh;
}
.teaser-text{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  h2{
    font-size: 45px;
    color: white;
  }
  a {
    padding: 7px 12px;
    text-transform: uppercase;
    color: white;
    border: 2px solid;
    transition: color 250ms;
    &:hover {
      color: $yellow;
    }
  }
}
/** Buttons **/
.teaser-button a {
  position: absolute;
  display: inline-block;
  padding: 8px 8px;
  background: transparent;
  font-size: 20px;
  margin: 8px -5%;
  bottom: 50px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 2px;
  border: 3px solid white;
  transition: color 250ms, border-color 250ms;
  text-align: center;
  width: 10%;
  &:hover {
    color: $yellow;
    border-color: $yellow;
  }
}
.mod_navigation {
  margin-top: 60px;

  .mod_navigation ul {
    margin: 0;
    padding: 0;
  }
}
.header-image{
  img{
    width: 100%;

  }
}

.sidebar {
  position: fixed;
  top: 30%;
  width: 45px;
  z-index: 200;
  transform: translateY(-20%);
  color: white;
  right: 0;
  a {
    float: right;
    color: white;
    width: 130px;
    padding: 25px;
    text-decoration: none;
    background: $yellow;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Barlow Condensed, sans-serif;
    margin: 20px 0;
    display: block;
    text-align: center;
    transition: transform 250ms;
    &:hover {
      transition: transform 250ms;
      padding-right: 150px;

    }
  }
}
.termin, .kursbuchung, .map-marker{
  transform: translateX(125px);
}
.termin:before, .kursbuchung:before, .map-marker:before{
  content: "";
  display: block;
  width: 23px;
  height: 30px;
  float: left;
  margin: 2px 13px -3px -7px;
  background-size: contain;
}
.termin:before{
  background-image: url("../layout/phone-white.svg");
  background-repeat: no-repeat;
}
.kursbuchung:before{
  background-image: url("../layout/kursbuchung.svg");
  background-repeat: no-repeat;
}
.map-marker:before{
  background-image: url("../layout/standort.png");
  background-repeat: no-repeat;
}

.mod_article {
  text-align: center;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

.werde-fit {
  .caroufredsel_wrapper {
    padding-bottom: 20px;
  }
  .ce_image {
    box-shadow: 0 0 10px #999;
    img {
      max-height: 259px;
      object-fit: cover;
    }
    figcaption {
      height: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: background-color 250ms;
      font-weight: normal;
      text-transform: uppercase;
    }
    &:hover figcaption {
      background-color: $yellow;
    }
  }
}

.caroufredsel > div:not(:last-child) {
  margin-right: 8px;
}

.caroufredsel_skin {
  position: relative;
}

.caroufredsel_controls .caroufredsel_next {
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-100%);
  img {
    width: 60px;
  }
}

.caption {
  text-align: center;
  font-size: 21px;
  font-weight: bolder;
  letter-spacing: 1px;
}

#menu-image-article {
  position: relative;
  height: 80vh;
}

#menu-image{
  img {
    width: 100%;

  }
}

.banner1-text {
  position: absolute;
  bottom: 12vw;
  right: 12vw;
  h2 {
    color: white;
  }
  p a {
    padding: 7px 12px;
    color: white;
    border: 2px solid;
    text-transform: uppercase;
    transition: color 250ms;
    &:hover {
      color: $yellow;
    }
  }
}


#news {
  .mod_newslist {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: $max-width;
    margin: 40px auto;
    flex-wrap: wrap;
    .layout_latest {
      display: flex;
      flex-wrap: wrap;
      width: 30%;
      height: 350px;
      background: $gray;
      box-sizing: border-box;
      padding: 25px;
      transition: filter 250ms;
      margin: 10px 0;
      h2,p,.ce_text {
        width: 100%;
        text-transform: none;
        color: white;
        text-align: left;
        a {
          color: white;
        }
      }
      .more {
        width: 100%;
        align-self: end;
        img {
          width: 30px;
        }
      }
      &.featured {
        background-color: $yellow;
      }
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}

.image-slogan img {
  position: absolute;
  top: 38%;
  right: 15%;
}

#container-main {
 margin:  30px 8% 50px 8%;
}

#text {
  text-align: center;
  text-transform: none;
  line-height: 22px;
  font-size: 18px;
}


/*.box-wrapper1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 57px 7%;
  width: 90%;
  max-width: 1550px;
  .box-left1,  .box-middle1{
    color: white;
    padding: 40px 40px 80px;
    text-transform: none;
    text-align: left;
    font-size: 20px;
    background: $gray url("../layout/arrow-right.svg") no-repeat bottom 48px left 40px/30px;
    width: 30%;
    box-sizing: border-box;
  }

  .box-right1, .box-left1, .box-middle1 p, h2, a {
    color: white;
  }
  .box-right1 {
    background: $yellow;
    color: white;
    padding: 40px 40px 80px;
    text-transform: none;
    text-align: left;
    font-size: 20px;
    background-image: url("../layout/arrow-right.svg");
    background-position: bottom 48px left 40px;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 30%;
    box-sizing: border-box;
  }
} */

.text1 a {
  transition: color 250ms;
  &:hover {
    color: $yellow;
  }
}

.email:before {
  content: "";
  display: block;
  background: url("../layout/mail.svg") no-repeat;
  width: 30px;
  height: 23px;
  float: left;
  margin: 0 6px 0 0;
  background-size: 21px;
}
.telefon:before{
  content: "";
  display: block;
  background: url("../layout/phone.svg") no-repeat;
  width: 30px;
  height: 23px;
  float: left;
  margin: 0 6px 0 0;
  background-size: 21px;
}
figure.float_left {
  margin-right: 88px;
  width: 50%;
}

.formular {
  li {
    height: 35px;
    margin: 5px 0;
    a {
      position: relative;
      display: inline-block;
      width: 250px;
      border: 1px solid black;
      padding: 8px 35px;
      text-decoration: none;
      color: black;
      transition: background-color 250ms;
      &:hover {
        background-color: #fff0c3;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 10px;
        top: 6px;
        width: 30px;
        height: 23px;
        background: url("../layout/download.svg") no-repeat;
        background-size: contain;
      }
    }
  }
}

#kursplan{
  margin: 50px auto;
  .ce_text{
    p{
      text-transform: none;
    }
  }
}
/* Formlar Kursplan */
#formular1 {
  li {
    margin: 7px 0;
    a {
      position: relative;
      display: inline-block;
      width: 250px;
      border: 1px solid black;
      padding: 7px 10px;
      color: black;
      transition: background-color 250ms;
      &:hover {
        background-color: #fff0c3;
      }
      &:before {
        content: '';
        position: absolute;
        left: 10px;
        top: 6px;
        width: 30px;
        height: 23px;
        background: url("../layout/download.svg") no-repeat;
        background-size: contain;
      }
    }
  }
}
/** Tabelle **/
.kalendar{
  width: 90%;
  max-width: $max-width;
  margin: 10px auto 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
}
th,td {
  border: 1px solid black;
  padding: 5px 10px;
}

.th {
  background: $yellow;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 12px;
  font-family: "Barlow Condensed", sans-serif;;
  font-size: 25px;
}
/* Kursplan*/
#kursangebot {
  margin: 100px auto;
  .courses {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    margin: 70px auto;
    width: 95%;
    max-width: $max-width;
  }
}
.courses .ce_text {
  width: 48%;
  margin: 6px auto;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 10px #999;
  figure{
    float: left;
    width: 48%;
    margin-right: 25px
  }
}
.courses p, h2, a{
  text-decoration: none;
  color: black;
}
.courses h2, a{
  text-transform: none;
}

.arrow-right:before, .arrow-right1:before{
  content: "";
  background: url("../layout/arrow-right1.svg") no-repeat;
  width: 50px;
  height: 70px;
  float: left;
  background-size: 60px;
  margin-left: 226px;
}
.arrow-right a, .arrow-right1 a{
  position: absolute;
  margin: 32px;
  font-size: 17px;
}
/*.image-description1{
  text-transform: none;
  text-align: left;
  font-size: 20px;
  width: 95%;
  max-width: 1550px;
  margin: 97px auto;
  min-height: 80vh;
 .left-text{
    text-transform: none;
    font-family: "Barlow Condensed", sans-serif;;
    line-height: 32px;
  }

  h2 {
    text-transform: uppercase;
  }
  .float_above {
    position: absolute;
    right: 0;
    width: 50vw;

    img {
      width: 100%;
    }
  }
}*/
.image-description2 {
  text-transform: none;
  text-align: left;
  font-size: 20px;
  width: 95%;
  max-width: 1550px;
  margin: 97px 54%;
  min-height: 80vh;
.right-text {
    text-transform: none;
    font-family: "Barlow Condensed", sans-serif;;
    line-height: 32px;
  }
  h2 {
    text-transform: uppercase;
  }
.float_above {
    position: absolute;
    left: 0;
    width: 50vw;
  img {
      width: 100%;
    }
  }
}

#lifting-lady-background {
  background: url("../layout/lift-bg2.png") no-repeat bottom right/cover;
  height: 80vh;
}


.coaches{
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  margin: 89px auto;
  max-width: 1500px;
  .ce_image {
    box-shadow: 0 0 10px #999;
    margin-bottom: 17px;
    width: 23%;
    img {
      max-height: 259px;
      object-fit: cover;
    }
    figcaption {
      height: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: background-color 250ms;
      font-weight: normal;
      text-transform: uppercase;
    }
    &:hover figcaption {
      background-color: $yellow;
    }
  }
}
/* Formular */
.formbody{
  margin-top: 100px;
  margin-right: -53%;
}
label{
  display: inline-block ;
  margin-right: 8%;
  padding: 8px;
  border: 2px solid #999;
  outline: 0;
  width: 7%;
  border-radius: 2px;
  background: white;
  text-transform: none;
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;;
  color: black;
  margin-top: -10px;
  letter-spacing: 1px;
}
label:before{
  content: "";
  background: url("../layout/upload.svg") no-repeat;
  width: 29px;
  height: 23px;
  float: left;
  background-size: contain;
}

input,
textarea{
  margin-bottom: 32px;
  padding: 8px;
  border: 1px solid #999;
  width: 15%;
  border-radius: 2px;
  background: $yellow;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;;
  color: white;
}
.upload{
  display: none;
}
.submit {
  cursor: pointer;
  background: $yellow;
  color: white;
  width: 5%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 2px;
  border: 0;
  font-weight: 700;
  display: inline-block;
  font-size: 15px;
}

.probetraining, #kursbuchung {
  iframe {
    width: 90%;
    max-width: $max-width;
    margin-bottom: 200px;
  }
}


.caroufredsel_controls .caroufredsel_prev {
  position: absolute;
  left: 90px;
  top: 50%;
  transform: translateY(-100%);
  img {
    width: 60px;
  }
}


.testimonials {
  .ce_caroufredsel_start {
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;
    overflow: visible;
    .caroufredsel_wrapper {
      padding-bottom: 20px;
      .caroufredsel > div {
        height: 600px;
        box-shadow: 0 0 10px #c9c9c9;
        h3 {
          text-align: center;
          font-weight: normal;
          font-size: 25px;
        }
        p {
          text-align: center;
          text-transform: none;
          font-size: 15px;
          line-height: 1.5em;
        }
        img {
          width: 100%;
        }
      }
    }
    .caroufredsel_controls {
      .caroufredsel_prev {
        position: absolute;
        left: -120px;
        top: 50%;
        transform: translateY(-50%);
        img {
          width: 120px;
        }
      }
      .caroufredsel_next {
        position: absolute;
        right: -120px;
        top: 50%;
        transform: translateY(-50%);
        img {
          width: 120px;
        }
      }
    }
  }
}

.image-left {
  width: 40%;
  float: left;
}

.image-left-termin {
  width: 50%;
  float: left;
}

.image-right{
  width: 40%;
  float: right;
}

.half-image {
  height: 80vh;
}

.half-image-termin {
  height: 70vh;
}

.half-text {
  width: 90%;
  height: 100%;
  max-width: $max-width-big;
  margin: 0 auto;
  .half-text-inner {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    box-sizing: border-box;
    align-content: center;
    text-align: left;
    .ce_text, .ce_downloads {
      width: 100%;
    }
  }
}

.text-right-inner {
  float: right;
}

.text-left-inner {
  float: left;
}

.half-text-termin {
  width: 90%;
  height: 100%;
  max-width: $max-width;
  margin: 0 auto;
  .half-text-inner-termin {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    align-content: center;
    text-align: left;
    .ce_text, .ce_downloads {
      width: 100%;
    }
  }
}

.text-right-inner-termin {
  float: right;
  padding-left: 50px;
}
.text-left-inner {
  float: left;
  padding-right: 50px;
}

.text-description {
  text-transform: none;
  font-size: 17px;
  line-height: 28px;
  font-weight: normal;
  font-family: "Barlow Condensed", sans-serif;
  h2, h3{
    text-transform: uppercase;
  }
}


#map {
  height: 80vh;
  z-index: 0;
}

.leaflet-popup-pane {
  transform: translateY(-41px);
}

#news-detail {
  text-transform: none;
}

.mod_newsreader {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  font-size: 21px;
}

.banner-image-article.small {
  height: 45vh;
}
/* Beispiel-Text*/
.lorem{
  text-transform: none;
  text-align: left;
  margin: 21px;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  width: $max-width;
  margin: 25px auto;
}

/* Unsure BOX*/
.ce_sliderStart {
  background: white;
  width: 90vw;
}

.slider-control {
  height: 60px;
}

.slider-control .slider-menu {
  display: none;
}

.slider-control .slider-prev {
  left: 5%;
  width: 5%;
  top: -350px;
}

.slider-control .slider-next {
  right: 5%;
  width: 5%;
  top: -350px;
}
.slider-wrapper{
  .image_container{
    img{
      width: 65%;
      margin-left: 100px;
    }
  }
}
.yellow-underline, .yellow-underline1, .yellow-underline2, .headline{
  font-size: 35px;
}
.yellow-underline, .yellow-underline1, .yellow-underline2, #paragraph p{
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 5px;
    background: $yellow;
  }
}
#paragraph {
   text-transform: none;
}
.yellow-underline1:after{
  left: 27%;
}
.yellow-underline2:after{
  left:4%
}
/*link*/
.link a {
  color: $yellow;
}
